@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: aquamarine;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

div#burguer {
    background-color: rgb(68, 68, 68);
    display: block;
    text-align: center;
    padding: 0px;
    cursor: pointer;
}

div#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(83, 83, 83);
    color: white;
    border-top: 2px solid rgb(143, 143, 143);
}

menu a:hover {
    background-color: rgb(128, 128, 128);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

